<h1>The work of photographer Joel Peter Witkin</h1>

<div id="wrapper">
  
  <h2><i>Witkin considers issues of morality as central to his work. Drawing from a rich body of sources - literature, myth, and Renaissance and Baroque painting - Witkin creates elaborate photographic tableaux that address the morbid, the perverse, the erotic, and the religious. In nearly all of his works, these moral issues are acted out by social outcasts, pariahs, and human oddities. Witkin also frequently uses dead bodies or body parts in the creation of his work all of which contribute to the spiritual and ephemeral quality of his imagery.</i></h2>
  <div id="articles"></div>
  <div id="notes"></div>
  <div id="allNotes"></div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"> </script>

<script src="../assets/javascript/app.js"></script>