        body { 
          background-color: white;
        }

        h1, h2, p, .dataTitle{
      font-family: Arial, Helvetica, sans-serif;
      }
      .top{
        font-size: 1.3em;
        line-height: 140%;
      }
      button {
          background-color: dodgerblue; /* Green */
          border: none;
          color: white;
          padding: 3px 32px;
          margin-left: 30px;
          text-align: center;
          text-decoration: none;
          /*display: inline-block;*/
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          border-radius: 12px;
          float: right;
      }

      button:hover {
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 100%;
        height: auto;
      }
      #sideNotes{
        float:right;
        width: 31%;
      }
      #notes {
        /*float: right;*/
        width: 100%;
      }
      #noteResults {
        /*float: right;*/
        width: 100%;
        padding-top: 75px;
      }

      .dataTitle {
        width:304px; 
        word-wrap:break-word;
        line-height: 200%;
      }

      textarea, input {
        display: block;
        width: 80%;
        background-color: white;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 20px;
        font-size: 18px;
        float: left;
      }
      
      .imgBox {
        width: 100%;
        float: left;
        /*height: 322.25px;*/
        cursor: pointer;
      }
      .img {
        position: relative;
        float: left;
        width: 100%;
        /*max-height: 250px;*/
      }
      
      .titleText{
        text-align: justify;
      }

      .deleteNote {
      /*background: red;*/
      color: red;
      font-family: 'Helvetica', 'Arial', sans-serif;
      font-size: 1.13em;
      font-weight: bold;
      /*text-align: center;*/
      /*width: 20px;
      height: 20px;*/
      border-radius: 5px;
      margin-left: 20px;
      cursor: pointer;
        
    }

  /*MODAL*/

    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.modal-body {
  padding: 2px 16px;
  color: black;
  }

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}